<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../../../favicon.ico">

		<title>Sked - {% block pageTitle %}Accueil{% endblock %}</title>

		<link href="/css/jquery-ui.min.css" rel="stylesheet">
		<link href="/css/jquery-ui.theme.min.css" rel="stylesheet">
		<link href="/css/fa-svg-with-js.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/base.css" rel="stylesheet">
		{% block extraCss %}{% endblock %}
	</head>

	<body>

		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="{{ path('planning_index')}}" title="Sked v1.0.7"><img src="/img/logo_sked_light.png" alt="Logo Sked" /> Sked</a>

			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item{% if app.request.attributes.get('_route') in ["planning_index"] %} active{% endif %}">
						<a class="nav-link" href="{{ path('planning_index') }}">Planning</a>
					</li>
					<li class="nav-item{% if app.request.attributes.get('_route') in ["project_index","project_view","project_edit"] %} active{% endif %}">
						<a class="nav-link" href="{{ path('project_index') }}">Projets</a>
					</li>
					{% if app.session.get('user').admin %}
					<li class="nav-item{% if app.request.attributes.get('_route') in ["user_index"] %} active{% endif %}">
						<a class="nav-link" href="{{ path('user_index') }}">Utilisateurs</a>
					</li>
					{% endif %}
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"><span class="navbar-text">Connecté en tant que {{ app.session.get('user').fullname }}</span></li>
					<li class="nav-item">
						<a tabindex="0" class="btn btn-outline-info mx-2" role="button" data-toggle="popover" data-html="true" title="Aide de la page" data-content="{% block helpContent %}Aucun contenu d'aide n'est disponible pour cette page{% endblock %}" id="helpBtn">Aide</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-outline-danger" href="{{ path('logout') }}">Déconnecter</a>
					</li>
				</ul>
			</div>
		</nav>

		<main role="main" class="container-fluid">

			<div id="flashMessages">
				{% for label, messages in app.flashes %}
				{% for message in messages %}
				<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% endfor %}
				{% endfor %}
			</div>

			{% block body %}{% endblock %}

		</main>

		<script src="/js/jquery.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/fontawesome-all.min.js"></script>
		<script>
			$( "#helpBtn" ).click(function() {
				$(this).popover('toggle')
				return false;
			});
			$( "#helpBtn" ).on('blur',function() {
				$(this).popover('hide')
			});
			$(function () {
				$('[data-toggle="popover"]').popover({trigger:'manual',placement:'bottom'})
			})
		</script>
		{% block extraJs %}{% endblock %}
	</body>
</html>
