<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">

		<title>Sked - {% block pageTitle %}Accueil{% endblock %}</title>

		<link href="/css/jquery-ui.min.css" rel="stylesheet">
		<link href="/css/jquery-ui.theme.min.css" rel="stylesheet">
		<link href="/css/fa-svg-with-js.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/base.css" rel="stylesheet">
		{% block extraCss %}{% endblock %}
	</head>

	<body>

		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="{{ path('planning_index')}}" title="Sked v1.2.3"><img src="/img/logo_sked_light.png" alt="Logo Sked" /> Sked</a>

			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item{% if app.request.attributes.get('_route') in ["planning_index"] %} active{% endif %}">
						<a class="nav-link" href="{{ path('planning_index') }}">Planning</a>
					</li>
					<li class="nav-item{% if app.request.attributes.get('_route') in ["project_index","project_view","project_edit"] %} active{% endif %}">
						<a class="nav-link" href="{{ path('project_index') }}">Projets</a>
					</li>
					{% if app.session.get('user').admin %}
					<li class="nav-item{% if app.request.attributes.get('_route') in ["task_index"] %} active{% endif %}">
						<a class="nav-link" href="{{ path('task_index') }}">Tâches</a>
					</li>
					<li class="nav-item{% if app.request.attributes.get('_route') in ["user_index"] %} active{% endif %}">
						<a class="nav-link" href="{{ path('user_index') }}">Utilisateurs</a>
					</li>
					<li class="nav-item{% if app.request.attributes.get('_route') in ["team_index","team_view","team_edit"] %} active{% endif %}">
						<a class="nav-link" href="{{ path('team_index') }}">Équipes</a>
					</li>
					{% endif %}
					<li class="nav-item{% if app.request.attributes.get('_route') in ["user_view"] %} active{% endif %}">
						<a class="nav-link" href="{{ path('user_view') }}">Mon profil</a>
					</li>
					{% if app.session.get('user').team %}
					<li class="nav-item{% if app.request.attributes.get('_route') in ["team_view"] %} active{% endif %}">
						<a class="nav-link" href="{{ path('team_view') }}">Mon équipe</a>
					</li>
					{% endif %}
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"><span class="navbar-text">Connecté en tant que {{ app.session.get('user').fullname }}</span></li>
					<li class="nav-item">
						<a tabindex="0" class="btn btn-outline-info mx-2" role="button" data-toggle="popover" data-html="true" title="Aide de la page" data-content="{% block helpContent %}Aucun contenu d'aide n'est disponible pour cette page{% endblock %}" id="helpBtn">Aide</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-outline-danger" href="{{ path('logout') }}">Déconnecter</a>
					</li>
				</ul>
			</div>
		</nav>

		<main role="main" class="container-fluid">

			<div id="flashMessages">
				{% for label, messages in app.flashes %}
				{% for message in messages %}
				<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% endfor %}
				{% endfor %}
			</div>

			{% block body %}{% endblock %}

		</main>

		<script src="/js/jquery.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/fontawesome-all.min.js"></script>
		<script>
			$( "#helpBtn" ).click(function() {
				$(this).popover('toggle')
				return false;
			});
			$( "#helpBtn" ).on('blur',function() {
				$(this).popover('hide')
			});
			$(function () {
				$('[data-toggle="popover"]').popover({trigger:'manual',placement:'bottom'})
			})
		</script>
		<script>
		var urlDict = {}
		urlDict["planning_info"] = "{{ path("planning_info",{"planningId":"idPlaceHold"}) }}";
		urlDict["project_view"] = "{{ path("project_view",{"projectId":123}) }}";
		urlDict["task_byproject"] = "{{ path("task_byproject",{"projectId":"idPlaceHold"}) }}";
		urlDict["planning_new"] = "{{ path("planning_new") }}";
		urlDict["planning_resize"] = "{{ path("planning_resize",{"planningId":"idPlaceHold","newSize":"sizePlaceHold"}) }}";
		urlDict["planning_move"] = "{{ path("planning_move",{"planningId":"idPlaceHold","newStart":"startPlaceHold","newHour":"hourPlaceHold","newUser":"userPlaceHold","newSize":"sizePlaceHold"}) }}";
		urlDict["planning_confirm"] = "{{ path("planning_confirm",{"planningId":"123"}) }}";
		urlDict["planning_meeting"] = "{{ path("planning_meeting",{"planningId":"123"}) }}";
		urlDict["planning_delete"] = "{{ path("planning_del",{"planningId":"123"}) }}";
		urlDict["project_edit"] = "{{ path("project_edit",{"projectId":"123"}) }}";
		</script>
		{% block extraJs %}{% endblock %}
	</body>
</html>
