{% extends 'base.html.twig' %}

{% block pageTitle %}Equipe {{ team.name }}{% endblock %}

{% block body %}
{% set days = ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'] %}
{% set months = ['','Jan','Fév','Mars','Avr','Mai','Juin','Juil','Août','Sep','Oct','Nov','Déc'] %}

<h1>Equipe {{ team.name }} 
	<a class="btn btn-outline-dark float-right" href="{{ path('team_view',{'teamId':team.id})}}">Retour</a>
</h1>

<h2>Informations</h2>
<div class="row">
	<div class="col">
		<table class="table">
			<tr><th>Membres de l'équipe</th></tr>
			<tbody id="members">
			{% for user in team.users %}
			<tr>
				<td>
					{{ user.fullname }}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col">
		<table class="table">
			<tr><th>Managers de l'équipe</th><th class="actions"></th></tr>
			<tbody id="managers">
			{% for user in team.managers %}
			<tr>
				<td>
					{{ user.fullname }}
				</td><td class="actions">
					{% if app.session.get('user').admin %}
						<a class="text-danger" href='{{ path('team_delManager',{"teamId":team.id,"userId":user.id}) }}'><i title="Supprimer" class="fas fa-trash"></i></a>
						{% endif %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
			<tr>
				<td colspan="2">
					<select id="addManagerId">
						<option value="0"></option>
						{% for user in users if user not in team.managers %}
						<option value="{{ user.id }}">{{ user.fullname }}</option>
						{% endfor %}
					</select>
					<button class="btn btn-sm btn-primary" id="addManager"><span class="fa fa-plus-circle"></span></button>
				</td>
			</tr>
		</table>
	</div>
	<div class="col">
		<table class="table">
			<tr><th colspan="2">Etapes des projets</th><th class="actions"></th></tr>
			<tbody id="statuses">
			{% for status in statuses %}
			<tr>
				<td>{{status.statusOrder }}</td>
				<td>
					{{ status.name }}
				</td><td class="actions">
					<a class="text-secondary" href='{{ path('team_changeStatusOrder',{"statusId":status.id,"way":"inc"}) }}'><i title="Monter" class="fas fa-sort-up"></i></a>
					<a class="text-secondary" href='{{ path('team_changeStatusOrder',{"statusId":status.id,"way":"dec"}) }}'><i title="Descendre" class="fas fa-caret-down"></i></a>
					<a class="text-danger" href='{{ path('team_delStatus',{"statusId":status.id}) }}'><i title="Supprimer" class="fas fa-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td colspan="2">
					{{ form_start(form) }}
					{{ form_widget(form) }}
					{{ form_end(form) }}
				</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>
{% endblock %}

{% block extraJs %}
<script>
$('#addManager').click(function(e){
	newId = $('#addManagerId').val()
	if(newId != 0){
		url= "{{ path("team_addManager",{"teamId":team.id,"userId":"idPlaceHold"}) }}";
		url = url.replace("idPlaceHold",newId);
		$.ajax(url,{
			async:false,
			error:function(xhr,status,error){
				message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + error + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
				$('#flashMessages').append(message);
			},
			success:function(data, status, xhr){
				if(data.success){
					url = "{{ path('team_delManager',{'teamId':team.id,'userId':'idPlaceHold'}) }}"
					url = url.replace("idPlaceHold",newId);
					$('#managers').append('<tr><td> ' + $('#addManagerId option:selected').text() + '</td><td class="actions"><a class="text-danger" href="' + url + '"><i title="Supprimer" class="fas fa-trash"></i></a></td></tr>');
					$("#addManagerId option[value='" + newId + "']").remove();
				}else{
					message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + data.errormsg + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
					$('#flashMessages').append(message);
				}
			}
		});

	}
});
</script>
{% endblock %}

