{% extends "base.html.twig" %}

{% block pageTitle %}Equipes{% endblock %}

{% block body %}
<h1>Gestion des équipes</h1>
<h2>Ajouter une équipe</h2>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<h2>Équipes existantes</h2>
<table class="table table-sm table-hover">
	<tr><th>Nom</th><th>Nombre de membres</th></tr>
	{% for team in teams %}
	<tr>
		<td>{{team.name}}</td>
		<td>{{team.users|length}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}

{% block helpContent %}
<ul>
	<li>Ressource : afficher l'utilisateur dans le tableau de planning</li>
	<li>Admin : droit de modification et de suppression sur tous les éléments</li>
	<li>Il n'est pas possible de supprimer un utilisateur administrateur</li>
	<li>Il n'est pas possible de se retirer les droits utilisateurs</li>
	<li>Actions d'administration
		<ul>
			<li><i class='fas fa-user-circle'></i>Donner/retirer le statut ressource</li>
			<li><i class='fas fa-chess-king'></i>Donner/retirer le statut admin</li>
			<li><i class='fas fa-trash'></i>Supprimer l'utilisateur</li>
		</ul>
	</li>
</ul>
{% endblock %}
