{% extends 'base.html.twig' %}

{% block pageTitle %}Equipe {{ team.name }}{% endblock %}

{% block body %}
{% set days = ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'] %}
{% set months = ['','Jan','Fév','Mars','Avr','Mai','Juin','Juil','Août','Sep','Oct','Nov','Déc'] %}

<h1>Equipe {{ team.name }} 
	<a class="btn btn-outline-dark float-right" href="{{ path('team_index')}}">Retour</a>
	{% if app.session.get('user').admin %}
	<a class="btn btn-outline-primary float-right mx-2" href="{{ path('team_index',{'teamId':team.id})}}">Modifier</a>
	{% endif %}
</h1>

<p><span class="title">Managers de l'équipe : </span>{% for user in team.managers %}{% if not loop.first %}, {% endif %}{{ user.fullname }}{% endfor %}</p>

<h2>Planning</h2>

<h2>Projets</h2>

<h2>Tâches</h2>

{% endblock %}

