<div class="modal fade" id="overrun_Modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Dépassement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ajouter ce planning va entraîner un dépassement sur le projet. Continuer quand même ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" onclick="sendPlanningNewRequest();">Continuer</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addPlanning_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addModal_title">Ajout d'une entrée au planning</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-sm float-right" data-toggle="collapse" data-target="#addProject" aria-expanded="false" aria-controls="addProject">+ projet</button>

				<div class="collapse" id="addProject">
					<h4>Ajouter un projet</h4>
					<dl class="row">

					<dt class="col-sm-5">Équipe :</dt>
					<dd class="col-sm-7">
						<select id="project_team" name="project[team]">
							{% for team in teams %}
								<option value="{{ team.id }}">{{ team.name }}</option>
							{% endfor %}
						</select>
					</dd>

					<dt class="col-sm-5">Code projet :</dt>
					<dd class="col-sm-7">
						<input type="text" id="project_reference" name="project[reference]" required="required">
					</dd>

					<dt class="col-sm-5">Nom du projet :</dt>
					<dd class="col-sm-7">
						<input type="text" id="project_name" name="project[name]" required="required">
					</dd>

					<dt class="col-sm-5">Client :</dt>
					<dd class="col-sm-7">
						<input type="text" id="project_client" name="project[client]" required="required">
					</dd>

					<dt class="col-sm-5">Responsable projet :</dt>
					<dd class="col-sm-7">
						<select id="project_projectManager" name="project[projectManager]">
							{% for user in users %}
								<option value="{{ user.id }}">{{ user.fullname }}</option>
							{% endfor %}
						</select>
					</dd>

					<dt class="col-sm-5">Facturable :</dt>
						<dd class="col-sm-7">
							<input id="project_billable" name="project[billable]" type="checkbox" value="1" checked="checked">
						</dd>
					<dt class="col-sm-5">Archivé :</dt>
						<dd class="col-sm-7">
							<input id="project_archived" name="project[archived]" type="checkbox" value="1">
						</dd>

					<dt class="col-sm-5">Jours vendus :</dt>
					<dd class="col-sm-7">
						<input type="text" id="project_nbDays" name="project[nbDays]" required="required">
					</dd>

					<dt class="col-sm-5">Commentaires :</dt>
						<dd class="col-sm-7">
							<textarea id="project_comments" name="project[comments]" class="form-control"></textarea>
						</dd>
					</dl>
	
					<input type="hidden" id="project_token" name="project[_token]" value="{{ csrf_token('project_add') }}"/>

					<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#addProject" aria-expanded="false" aria-controls="addProject">Annuler</button>
					<button type="button" class="btn btn-primary float-right" onclick="projectAdd()">Ajouter</button>

					<div class="clearfix"></div>

					<hr />
				</div>

				<dl class="row">
					<dt class="col-sm-5">Ressource :</dt>
						<dd class="col-sm-7">
							<span id="addModal_ressource"></span>
							<span class="d-none" id="addModal_ressourceForm"></span>
						</dd>
					<dt class="col-sm-5">Date de démarrage :</dt>
						<dd class="col-sm-7">
							<span id="addModal_startDate"></span> (<span id="addModal_startHour"></span>)
							<span class="d-none" id="addModal_startDateForm"></span>
							<span class="d-none" id="addModal_startHourForm"></span>
						</dd>
					<dt class="col-sm-5">Durée :</dt>
						<dd class="col-sm-7">
							<span id="addModal_duration"></span>
							<span class="d-none" id="addModal_durationForm"></span>
						</dd>
					<dt class="col-sm-5">Confirmé :</dt>
						<dd class="col-sm-7">
							<input id="addForm_confirmed" type="checkbox" checked>
						</dd>
					<dt class="col-sm-5">Important :</dt>
						<dd class="col-sm-7">
							<input id="addForm_meeting" type="checkbox">
						</dd>
					<dt class="col-sm-5">Livrable :</dt>
						<dd class="col-sm-7">
							<input id="addForm_deliverable" type="checkbox">
						</dd>
					<dt class="col-sm-5">Réunion :</dt>
						<dd class="col-sm-7">
							<input id="addForm_meetup" type="checkbox">
						</dd>
					<dt class="col-sm-5">Capitalisation :</dt>
						<dd class="col-sm-7">
							<input id="addForm_capitalization" type="checkbox">
						</dd>
					<dt class="col-sm-5">Projet :</dt>
						<dd class="col-sm-7">
							<select id="addForm_projectId">
								<option value="0">Absence</option>
								{% for project in projects %}
									{% if not project.archived and me.canAdmin(project) %}
									<option value="{{ project.id }}">{{ project.client }} - {{ project.name }}{% if project.nbDays is not null and project.nbDays != 0%} ({{ project.nbDays - project.plannedDays }}jh rest.){% endif %}</option>
									{% endif %}
								{% endfor %}
							</select>
						</dd>
					<dt class="col-sm-5">Tâche :</dt>
						<dd class="col-sm-7">
							<select id="addForm_taskId" disabled="disabled">
								<option value="0" id="nullTask"></option>
							</select>
						</dd>
					<dt class="col-sm-5">Commentaires :</dt>
						<dd class="col-sm-7">
							<textarea id="addForm_comments" class="form-control"></textarea>
						</dd>

				</dl>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" onclick="addPlanning()">Ajouter</button>
			</div>
		</div>
	</div>
</div>

