{% extends "base.html.twig" %}

{% block pageTitle %}Utilisateurs{% endblock %}

{% block body %}
<h1>Gestion des tâches</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<table class="table table-sm table-hover">
	<thead>
	<tr>
		<th>Projet</th>
		<th>Tâche</th>
		<th>Assignation</th>
		<th>Réalisée</th>
		<th class="actions">Actions</th>
	</tr>
	</thead>
	<tbody>
		{% for task in tasks %}
		<tr{% if task.done %} class="table-secondary"{% endif %}>
			<td><a href="{{ path('project_view',{'projectId':task.project.id}) }}">{{ task.project.client }} {{ task.project.name }}</a></td>
			<td>{{ task.name }}</td>
			<td>{% if task.assignedTo %}{{ task.assignedTo.fullname }}{% endif %}</td>
			<td>{% if task.done %}<span class="fas fa-check-circle"></span>{% endif %}</td>
			<td class="actions">
				<a href="{{ path('task_index',{'taskId':task.id})}}"><i title='Modifier' class='fas fa-edit'></i></a>
				<a href="{{ path('task_toggleDone',{'taskId':task.id})}}"><i title='Marquer comme réalisée' class='fas fa-check-circle'></i></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</table>
{% endblock %}

