{% extends "base.html.twig" %}

{% block pageTitle %}Utilisateurs{% endblock %}

{% block body %}
<h1>Gestion des tâches</h1>

{% if app.session.get('user').admin %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endif %}

<table class="table table-sm table-hover">
	<thead>
	<tr>
		<th>Projet</th>
		<th>Tâche</th>
	</tr>
	</thead>
	<tbody>
		{% for task in tasks %}
		<tr>
			<td>{{ task.project.client }} {{ task.project.name }}</td>
			<td>{{ task.name }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</table>
{% endblock %}

