{% extends "base.html.twig" %}

{% block pageTitle %}Utilisateurs{% endblock %}

{% block body %}
<h1>Gestion des tâches</h1>

{% if app.session.get('user').admin %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endif %}

<table class="table table-sm table-hover">
	<thead>
	<tr>
		<th>Projet</th>
		<th>Tâche</th>
		<th>Assignation</th>
		<th class="actions">Actions</th>
	</tr>
	</thead>
	<tbody>
		{% for task in tasks %}
		<tr>
			<td><a href="{{ path('project_view',{'projectId':task.project.id}) }}">{{ task.project.client }} {{ task.project.name }}</a></td>
			<td>{{ task.name }}</td>
			<td>{% if task.assignedTo %}{{ task.assignedTo.fullname }}{% endif %}</td>
			<td></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</table>
{% endblock %}

