{% extends "base.html.twig" %}

{% block pageTitle %}Utilisateurs{% endblock %}

{% block body %}
<h1>Gestion des utilisateurs</h1>
<h2>Ajouter un utilisateur</h2>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<h2>Utilisateurs existants</h2>
<table class="table table-sm table-hover">
	<tr><th>id</th><th>Nom complet</th><th>Nom d'utilisateur</th><th>Ressource</th><th>Admin</th><th>Actions</th></tr>
	{% for user in users %}
	<tr {% if user.id == app.session.get('user').id %}class="table-info"{% endif %}>
		<td>{{user.id}}</td>
		<td><a href="{{ path("user_view",{'userId':user.id}) }}">{{user.fullname}}</a></td>
		<td>{{user.username}}</td>
		<td>
			{% if user.resource %}
				<i class='fas fa-check-circle'></i>
			{% endif %}
		</td>
		<td>
			{% if user.admin %}
				<span class="badge badge-warning">Admin</span>
			{% endif %}
		</td>
		<td>
			<a href="{{ path("user_toggleResource",{'userid':user.id}) }}"><i class='fas fa-user-circle'></i></a>
			<a href="{{ path("user_toggleAdmin",{'userid':user.id}) }}"><i class='fas fa-chess-king'></i></a>
			<a href="{{ path("user_del",{'username':user.username}) }}"><i class='fas fa-trash'</a>
		</td>
	{% endfor %}
</table>

{% endblock %}

{% block helpContent %}
<ul>
	<li>Ressource : afficher l'utilisateur dans le tableau de planning</li>
	<li>Admin : droit de modification et de suppression sur tous les éléments</li>
	<li>Il n'est pas possible de supprimer un utilisateur administrateur</li>
	<li>Il n'est pas possible de se retirer les droits utilisateurs</li>
	<li>Actions d'administration
		<ul>
			<li><i class='fas fa-user-circle'></i>Donner/retirer le statut ressource</li>
			<li><i class='fas fa-chess-king'></i>Donner/retirer le statut admin</li>
			<li><i class='fas fa-trash'></i>Supprimer l'utilisateur</li>
		</ul>
	</li>
</ul>
{% endblock %}
