{% extends "base.html.twig" %}

{% block body %}
<h1>User enrol</h1>
<h2>Add user</h2>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<h2>Existing users</h2>
<ul>
	{% for user in users %}
	<li>{{user.fullname}} ({{user.username}})</li>
	{% endfor %}
</ul>

{% endblock %}
