{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
{% set days = ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'] %}
{% set months = ['','Jan','Fév','Mars','Avr','Mai','Juin','Juil','Août','Sep','Oct','Nov','Déc'] %}
<h1>Planning</h1>

<hr />
{% set planningStart = startDate|date_modify('first day of this month') %}
<div class="d-flex justify-content-center">
<a href="{{ path('planning_index_shift',{"startDate":planningStart|date_modify('-1 month')|date('d-m-Y')})}}" class="btn btn-outline-secondary mx-1"><i class="fas fa-angle-left"></i> Mois précédent</a>
<a href="{{ path('planning_index')}}" class="btn btn-outline-secondary"><i class="far fa-calendar"></i> Mois courant</a>
<a href="{{ path('planning_index_shift',{"startDate":planningStart|date_modify('+1 month')|date('d-m-Y')})}}" class="btn btn-outline-secondary mx-1">Mois suivant <i class="fas fa-angle-right"></i></a>
</div>

<hr />

{% if hasAdmin %}
{% include 'common/addPlanningModals.html.twig' %}
{% endif %}

{% set baseDate = planningStart|date('d-m-Y') %}
{% set today = "now"|date('d-m-Y')|date_modify('midnight') %}
{% set nbMonths = 3 %}
{% for i in range(0,nbMonths-1) %}

{% set startDate = baseDate|date_modify("+" ~ i ~ " month")|date_modify("first day of this month") %}
{% set endDate = baseDate|date_modify("+" ~ i ~ " month")|date_modify("last day of this month") %}
{% set nbSlices = 0 %}
<table class="table table-sm table-hover schedule">
	<thead>
		<tr>
			<th class="schedUser schedDate">{{ months[startDate|date('n')] ~ ' ' ~ startDate|date('Y') }}</th>
			{% for i in range(0,(startDate|date('t')|number_format)-1) %}
            {% set x = startDate|date_modify('+'~ i ~' days')|date_modify('midnight') %}
			{% if x|date('N') < 6 %}
			{% set nbSlices = nbSlices+2 %}
			<th colspan="2" class="schedDate{% if x|date('N') == 5 %} friday{% endif %}{% if x|date('U') in holidays%} holiday{% endif %}{% if x|date('U') == today|date('U') %} today{% endif %}">{{ days[x|date('w')] ~ ' ' ~ x|date('d') }}</th>
			{% endif %}
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			{% set slicesShown = 0 %}
			<th class="schedUser">
				{% if me.canAdmin(user) %}
					<a href="{{ path("user_view",{"userId":user.id}) }}">{{ user.username }}</a>
				{% else %}
					{{ user.username }}
				{% endif %}
			</th>
			{% for i in range(0,(startDate|date('t')|number_format)-1) %}
            {% set x = startDate|date_modify('+'~ i ~' days') %}
			{% if x|date('N') < 6 %}
			<td class="schedHour{% if x|date('U') in holidays%} holiday{% endif %}{% if x|date('U') == today|date('U') %} today{% endif %}">
				{% set slicesShown = slicesShown+1 %}
				<div class="projectContainer{% if me.canAdmin(user) %} projectContainerAdmin{% endif %}" data-date="{{x|date('Y-m-d')}}" data-hour="am" data-user="{{user.id}}" data-sliceNumber="{{ slicesShown }}" data-remainingSlices="{{ nbSlices - slicesShown }}">
					{% for planning in user.plannings %}
					{% if planning.startDate|date('U') == x|date('U') and planning.startHour == "am" %}
					{{ printPlanning(planning,me.canAdmin(planning)) }}
					{% endif %}
					{% endfor %}
				</div>
			</td>
			<td class="schedHour{% if x|date('N') == 5 %} friday{% endif %}{% if x|date('U') in holidays%} holiday{% endif %}{% if x|date('U') == today|date('U') %} today{% endif %}">
				{% set slicesShown = slicesShown+1 %}
				<div class="projectContainer{% if me.canAdmin(user) %} projectContainerAdmin{% endif %}" data-date="{{x|date('Y-m-d')}}" data-hour="pm" data-user="{{user.id}}" data-sliceNumber="{{ slicesShown }}" data-remainingSlices="{{ nbSlices - slicesShown }}">
					{% for planning in user.plannings %}
					{% if planning.startDate|date('U') == x|date('U') and planning.startHour == "pm" %}
					{{ printPlanning(planning,me.canAdmin(planning)) }}
					{% endif %}
					{% endfor %}
				</div></td>
				{% endif %}
				{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endfor %}
{% endblock %}
{% block extraJs %}
<script src="/js/planningCommon.js"></script>
{% if hasAdmin %}
<script>
var users=[];
{% for user in users %}
	users[{{ user.id }}] = "{{ user.fullname }}"
{% endfor %}
var projectsRemaining=[];
{% for project in projects %}
	{% if project.nbDays is not null and project.nbDays != 0 %}
		projectsRemaining[{{project.id}}] = {{ (project.nbDays - project.plannedDays) * 2 }};
	{% else %}
		projectsRemaining[{{project.id}}] = null;
	{% endif %}
{% endfor %}
</script>
<script src="/js/planningAdmin.js"></script>
{% endif %}

{% endblock %}


{% block helpContent %}
<ul>
	<li>Pour afficher le détail d'un projet, faire un clic droit dessus</li>
	<li>Légende des couleurs :
		<ul>
			<li><span class='legend absence'>Jaune</span> Absent du bureau</li>
			<li><span class='legend non-billable'>Bleu</span> Projet interne, non facturable</li>
			<li><span class='legend billable'>Vert</span> Projet facturable</li>
			<li><span class='legend meeting'>Rouge</span> Important : réunion, déplacement</li>
			<li><span class='legend billable-unconfirmed'>Hachuré</span> Date non confirmée</li>
		</ul>
	</li>
	{% if hasAdmin %}
	<li>Actions d'administration (dans le détail projet)
		<ul>
			<li><span class='btn btn-sm btn-outline-success'><i class='far fa-check-circle'></i></span>Confirmer l'élément de planning</li>
			<li><span class='btn btn-sm btn-outline-warning'><i class='fas fa-edit'></i></span>Modifier le projet</li>
			<li><span class='btn btn-sm btn-outline-danger'><i class='fas fa-trash'></i></span>Supprimer l'élément de planning</li>
		</ul>
	</li>
	{% endif %}
</ul>
{% endblock %}
