{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
<h1>Planning</h1>

<div class="card bg-light">
	<h2 class="card-header">Ajouter une entrée de planning</h2>
	<div class="card-body">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
</div>

	<table class="table table-sm table-hover schedule">
		<thead>
			<tr>
				{% set startDate = "01-02-2013" %}
				{% set endDate = "28-02-2013" %}
				<th class="schedDate">{{ startDate|date('M Y') }}</th>
				{% for x in range(startDate|date('U'), endDate|date('U'), 86400 ) %}
					<th colspan="2" class="schedDate">{{ x|date('d') }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<th class="schedUser">{{ user.username }}</th>
				{% set endPlanning = startDate|date_modify("-1 day") %}
				{% for x in range(startDate|date('U'), endDate|date('U'), 86400 ) %}
					{% if x|date('U') > endPlanning|date('U') %}
						{% set foundPlanning = false %}
						{% for planning in user.plannings if not foundPlanning %}
							{% if planning.startDate|date('U') <= x|date('U') and planning.endDate|date('U') >= x|date('U')%}
								{% set foundPlanning = true %}
								{% if planning.endDate|date('U') > endDate|date('U') %}
									{% set endPlanning = endDate %}
								{% else %}
									{% set endPlanning = planning.endDate %}
								{% endif %}
								{% set nbSpan = (endPlanning|date('d') - x|date('d') + 1) * 2%}
								{% if planning.startDate|date('U') == x|date('U') and planning.startHour == "pm" %}
									<td class="schedHour"></td>
									{% set nbSpan = nbSpan - 1 %}
								{% endif %}
								{% if planning.endDate|date('U') == endPlanning|date('U') and planning.endHour == "am" %}
									{% set nbSpan = nbSpan - 1 %}
								{% endif %}
									<td class="schedHour schedActive" colspan="{{ nbSpan }}"></td>
								{% if planning.endDate|date('U') == endPlanning|date('U') and planning.endHour == "am" %}
									<td class="schedHour"></td>
								{% endif %}
							{% endif %}
						{% endfor %}
						{% if not foundPlanning %}
							<td class="schedHour"></td>
							<td class="schedHour"></td>
						{% endif %}
					{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
