{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
<h1>Planning
					{% if app.session.get('user').admin %}
	<a class="btn btn-outline-primary float-right" data-toggle="collapse" href="#addPlanning" role="button" aria-expanded="false" aria-controls="addButton">
		Ajouter une entrée de planning
	</a>
					{% endif %}
</h1>

					{% if app.session.get('user').admin %}
<div class="collapse" id="addPlanning">
	<div class="card bg-light">
		<h2 class="card-header">Ajouter une entrée de planning</h2>
		<div class="card-body">
			{{ form_start(form, {'attr': {'id': 'addPlanning_form'}}) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
</div>
					{% endif %}
<hr />
{% set planningStart = startDate|date_modify('first day of this month') %}
<div class="d-flex justify-content-center">
<a href="{{ path('planning_index_shift',{"startDate":planningStart|date_modify('-1 month')|date('d-m-Y')})}}" class="btn btn-outline-secondary mx-1"><i class="fas fa-angle-left"></i> Mois précédent</a>
<a href="{{ path('planning_index')}}" class="btn btn-outline-secondary"><i class="far fa-calendar"></i> Mois courant</a>
<a href="{{ path('planning_index_shift',{"startDate":planningStart|date_modify('+1 month')|date('d-m-Y')})}}" class="btn btn-outline-secondary mx-1">Mois suivant <i class="fas fa-angle-right"></i></a>
</div>

<hr />

<div class="modal fade" id="addPlanning_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addModal_title">Ajout d'une entrée au planning</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<dl class="row">
					<dt class="col-sm-5">Ressource :</dt>
						<dd class="col-sm-7">
							<span id="addModal_ressource"></span>
						</dd>
					<dt class="col-sm-5">Date de démarrage :</dt>
						<dd class="col-sm-7">
							<span id="addModal_startDate"></span> (<span id="addModal_startHour"></span>)
						</dd>
					<dt class="col-sm-5">Durée :</dt>
						<dd class="col-sm-7">
							<span id="addModal_duration"></span>
						</dd>
					<dt class="col-sm-5">Réunion :</dt>
						<dd class="col-sm-7">
							<input id="addForm_meeting" type="checkbox">
						</dd>
					<dt class="col-sm-5">Projet :</dt>
						<dd class="col-sm-7">
							<select id="addForm_projectId">
								{% for project in projects %}
									{% if project.status != 7 %}
										<option value="{{ project.id }}">{{ project.reference }} - {{ project.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</dd>
				</dl>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" onclick="addPlanning()">Ajouter</button>
			</div>
		</div>
	</div>
</div>

{% set baseDate = planningStart|date('d-m-Y') %}
{% set today = "now"|date('d-m-Y') %}
{% set nbMonths = 3 %}
{% for i in range(0,nbMonths-1) %}

{% set startDate = baseDate|date_modify("+" ~ i ~ " month")|date_modify("first day of this month") %}
{% set endDate = baseDate|date_modify("+" ~ i ~ " month")|date_modify("last day of this month") %}
{% set nbSlices = 0 %}
<table class="table table-sm table-hover schedule">
	<thead>
		<tr>
			<th class="schedUser schedDate">{{ startDate|date('M Y') }}</th>
			{% for x in range(startDate|date('U'), endDate|date('U'), 86400 ) %}
			{% if x|date('N') < 6 %}
			{% set nbSlices = nbSlices+2 %}
			<th colspan="2" class="schedDate{% if x|date('N') == 5 %} friday{% endif %}{% if x in holidays%} holiday{% endif %}{% if x|date('U') == today|date('U') %} today{% endif %}">{{ x|date('D d') }}</th>
			{% endif %}
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			{% set slicesShown = 0 %}
			<th class="schedUser">{{ user.username }}</th>
			{% for x in range(startDate|date('U'), endDate|date('U'), 86400 ) %}
			{% if x|date('N') < 6 %}
			<td class="schedHour{% if x in holidays%} holiday{% endif %}{% if x|date('U') == today|date('U') %} today{% endif %}">
				{% set slicesShown = slicesShown+1 %}
				<div class="projectContainer" data-date="{{x|date('Y-m-d')}}" data-hour="am" data-user="{{user.id}}" data-sliceNumber="{{ slicesShown }}" data-remainingSlices="{{ nbSlices - slicesShown }}">
					{% for planning in user.plannings %}
					{% if planning.startDate|date('U') == x|date('U') and planning.startHour == "am" %}
					{{ printPlanning(planning,app.session.get('user').admin) }}
					{% endif %}
					{% endfor %}
				</div>
			</td>
			<td class="schedHour{% if x|date('N') == 5 %} friday{% endif %}{% if x in holidays%} holiday{% endif %}{% if x|date('U') == today|date('U') %} today{% endif %}">
				{% set slicesShown = slicesShown+1 %}
				<div class="projectContainer" data-date="{{x|date('Y-m-d')}}" data-hour="pm" data-user="{{user.id}}" data-sliceNumber="{{ slicesShown }}" data-remainingSlices="{{ nbSlices - slicesShown }}">
					{% for planning in user.plannings %}
					{% if planning.startDate|date('U') == x|date('U') and planning.startHour == "pm" %}
					{{ printPlanning(planning,app.session.get('user').admin) }}
					{% endif %}
					{% endfor %}
				</div></td>
				{% endif %}
				{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endfor %}
{% endblock %}
{% block extraJs %}
<script>
	$('.project').each(function(index){
		$(this).outerWidth($('.schedHour').outerWidth()*$(this).data("duration")-3);
	});

$( ".project" ).contextmenu(function() {
	$(this).popover('show')
	return false;
});
$( ".project" ).on('blur',function() {
	$(this).popover('hide')
});
$(function () {
	$('[data-toggle="popover"]').popover({trigger:'manual',placement:'bottom'})
})
					{% if app.session.get('user').admin %}
$(".project").resizable({
	handles: "e",
	containment: ".schedule",
	grid: $('.schedHour').outerWidth(),
	resize: function(e,ui){
		newSize = Math.round(((ui.size.width-(ui.size.width%$('.schedHour').outerWidth()))/$('.schedHour').outerWidth())+1);
		$(this).find('i').text(newSize/2);
	},
	stop : function(event, ui){
		newSize = Math.round(((ui.size.width-(ui.size.width%$('.schedHour').outerWidth()))/$('.schedHour').outerWidth())+1);
		if(newSize > $(this).parent().data("remainingslices")+1){
			newSize = $(this).parent().data("remainingslices")+1;
		}
		url=  "{{ path("planning_resize",{"planningId":"idPlaceHold","newSize":"sizePlaceHold"}) }}";
		url = url.replace("idPlaceHold", ui.element.data('planningid'));
		url = url.replace("sizePlaceHold", newSize);
		$.ajax(url,{
			async:false,
			error:function(xhr,status,error){
				message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + error + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
				$('#flashMessages').append(message);
				ui.element.width(ui.originalSize.width);
			},
			success:function(data, status, xhr){
				if(data.success){
					ui.element.data("duration",newSize);
				}else{
					message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + data.errormsg + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
					$('#flashMessages').append(message);
					ui.element.width(ui.originalSize.width);
				}
			}
		});
	}
});
$('.project').on('mousedown',function(e){
	e.stopPropagation();
});
$('.project').draggable({
	revert : true,
	revertDuration: 0,
	cursor: "grab",
	cursorAt: { left:5 }
}); 

$('.projectContainer').droppable({
	classes: {
		"ui-droppable-hover":"activeDrop",
	},
	tolerance: "pointer",
	drop : function(e, ui){
		destCell = this;
		url= "{{ path("planning_move",{"planningId":"idPlaceHold","newStart":"startPlaceHold","newHour":"hourPlaceHold","newUser":"userPlaceHold","newSize":"sizePlaceHold"}) }}";
		url = url.replace("idPlaceHold", ui.draggable.data('planningid'));
		url = url.replace("startPlaceHold", $(this).data('date'));
		url = url.replace("hourPlaceHold", $(this).data('hour'));
		url = url.replace("userPlaceHold", $(this).data('user'));
		if(ui.draggable.data("duration") > $(this).data("remainingslices")+1){
			ui.draggable.data("duration",$(this).data("remainingslices")+1);
			ui.draggable.find('i').text($(this).data("remainingslices")+1);
			ui.draggable.outerWidth($('.schedHour').outerWidth()*ui.draggable.data("duration")-3);
		}
		url = url.replace("sizePlaceHold", ui.draggable.data('duration'));
		$.ajax(url,{
			async:false,
			error:function(xhr,status,error){
				message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + error + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
				$('#flashMessages').append(message);
			},
			success:function(data, status, xhr){
				if(data.success){
					ui.draggable.detach().appendTo(destCell);
				}else{
					message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + data.errormsg + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
					$('#flashMessages').append(message);
				}
			}
		});
	}
});

$('.projectContainer').on('mousedown',function(e){
	e.preventDefault();
});

var users=[];
{% for user in users %}
	users[{{ user.id }}] = "{{ user.fullname }}"
{% endfor %}

baseX=0;
mouseDown=false;
newGhost=null;
add_startDate=null;
add_startHour=null;
add_userId=null;
$('.projectContainer').mousedown(function(e){
	if(e.which != 1) return;
	$("<div class='projectGhost'>Nouveau projet</div>").appendTo(this);
	add_startDate=$(this).data('date');
	add_startHour=$(this).data('hour');
	add_userId=$(this).data('user');
	newGhost = $(this).find('.projectGhost');
	baseX = newGhost.offset().left;
	mouseDown=true;
});
$(document).mousemove(function(e){
	if(mouseDown){
		newGhost.outerWidth(e.pageX - baseX);
	}
});
$(document).mouseup(function(e){
	if(mouseDown){
		ghostSize = e.pageX-baseX
		modulo = ghostSize % $('td').outerWidth();
		nbSlices = Math.round((ghostSize-modulo)/$('td').outerWidth()+1);

		newGhost.remove();

		console.log("New projet !\n\tStart : " + add_startDate + add_startHour + "\n\tDuration : " + nbSlices + "\n\tUser id : " + add_userId);
		$('#planning_user').val(add_userId);
		$('#planning_startDate').val(add_startDate);
		$('#planning_startHour').val(add_startHour);
		$('#planning_nbSlices').val(nbSlices);

		$('#addModal_ressource').html(users[add_userId]);
		$('#addModal_startDate').html(new Date(add_startDate).toLocaleDateString('fr-FR'));
		$('#addModal_startHour').html(add_startHour == "am" ? "matin" : "midi");
		$('#addModal_duration').html(nbSlices/2 + 'jh');
		$('#addPlanning_Modal').modal();

		baseX=0;
		mouseDown=false;
		newGhost=null;
		add_startDate=null;
		add_startHour=null;
		add_userId=null;
	}
});

function addPlanning(){
	$('#planning_meeting').prop('checked',$('#addForm_meeting').prop('checked'));
	$('#planning_project').val($('#addForm_projectId').val());
	$('#addPlanning_form').submit();
}

					{% endif %}
</script>

{% endblock %}
