{% extends 'base.html.twig' %}

{% block pageTitle %}CRA{% endblock %}

{% block body %}
<div class="d-flex justify-content-between">
	<h1 class="planningHead">Compte rendu d'activité</h1>

	{% set reportStart = startDate %}

	<div class="planningHead">
		<div class="d-flex justify-content-center">
			<a href="{{ path('report_index_shift',{"startDate":reportStart|date_modify('-1 week')|date('Y-m-d')})}}" class="btn btn-outline-secondary mx-1"><i class="fas fa-angle-left"></i> Semaine précédente</a>
			<a href="{{ path('report_index')}}" class="btn btn-outline-secondary"><i class="far fa-calendar"></i> Semaine courante</a>
			<a href="{{ path('report_index_shift',{"startDate":reportStart|date_modify('+1 week')|date('Y-m-d')})}}" class="btn btn-outline-secondary mx-1">Semaine suivante <i class="fas fa-angle-right"></i></a>
		</div>
	</div>
	<div class="planningHead">
	</div>
</div>
<p>Semaine du {{reportStart|date('d/m/Y')}}</p>
<span id="dateIso">{{reportStart|date('Y/m/d')}}</span>
<table id="report" class="table table-sm table-hover">
	<thead>
		<tr>
			<th>Projet</th>
			<th class="weekDay {% if reportStart|date('U') in holidays%} holiday{% endif %}">Lundi {{ reportStart|date('d/m')}}</th>
			<th class="weekDay {% if reportStart|date_modify('+1 days')|date('U') in holidays%} holiday{% endif %}">Mardi {{ reportStart|date_modify('+1 days')|date('d/m')}}</th>
			<th class="weekDay {% if reportStart|date_modify('+2 days')|date('U') in holidays%} holiday{% endif %}">Mercredi {{ reportStart|date_modify('+2 days')|date('d/m')}}</th>
			<th class="weekDay {% if reportStart|date_modify('+3 days')|date('U') in holidays%} holiday{% endif %}">Jeudi {{ reportStart|date_modify('+3 days')|date('d/m')}}</th>
			<th class="weekDay {% if reportStart|date_modify('+4 days')|date('U') in holidays%} holiday{% endif %}">Vendredi {{ reportStart|date_modify('+4 days')|date('d/m')}}</th>
			<th>Commentaire</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="reportBody">
		<tr id="addExample">
			<td>
				<select id="project">
					<option value="0">Absence</option>
					{% for project in projects %}
					{% if project.status != 7 %}
					<option value="{{ project.id }}">{{ project.client }} - {{ project.name }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</td>
			<td><input type="number" min="0" max="1" step="0.25" id="mon"/></td>
			<td><input type="number" min="0" max="1" step="0.25" id="tue"/></td>
			<td><input type="number" min="0" max="1" step="0.25" id="wed"/></td>
			<td><input type="number" min="0" max="1" step="0.25" id="thu"/></td>
			<td><input type="number" min="0" max="1" step="0.25" id="fri"/></td>
			<td><input type="text" name="comments"/></td>
			<td>
				<a class="text-success saveReport" href="#"><i class="far fa-save"></i></a>
			</td>
		</tr>
		<tr id="dispExample">
			<th class='projectName'></th>
			<td class='weekday mon'></td>
			<td class='weekday tue'></td>
			<td class='weekday wed'></td>
			<td class='weekday thu'></td>
			<td class='weekday fri'></td>
			<td class='comments'></td>
			<td>
				<a class="editReport" href="#"><i class="far fa-edit"></i></a>
				<a class="delReport" href="#"><i class="fas fa-trash-alt"></i></a>
			</td>
		</tr>
		{% if inputs is empty %}
		<tr><td id="emptyNotice" colspan="8">Aucune saisie effectuée pour cette semaine</td></tr>
		{% else %}
		{% for input in inputs %}
		<tr data-inputid='{{ input.id }}'>
			<th class="projectName">
				{% if input.project %}
				{{input.project.client}} {{input.project.name}}
				{% else %}
				Absence
				{% endif %}
			</th>
			<td class='weekday mon'>{{input.mon}}</td>
			<td class='weekday tue'>{{input.tue}}</td>
			<td class='weekday wed'>{{input.wed}}</td>
			<td class='weekday thu'>{{input.thu}}</td>
			<td class='weekday fri'>{{input.fri}}</td>
			<td class='comments'></td>
			<td>
				<a class="editReport" href="#"><i class="far fa-edit"></i></a>
				<a class="delReport" href="#"><i class="fas fa-trash-alt"></i></a>
			</td>
		</tr>
		{% endfor %}
		{% endif %}
	</tbody>
	<tfoot>
		<tr><td class="addInput_btn" colspan="8"><button id="addReport" class="btn btn-xs btn-outline-primary"><i class="fas fa-plus-circle "></i> Ajouter un projet</button></td></tr>
	</tfoot>
</table>
{% endblock %}
{% block extraJs %}
<script>
	$('#addReport').on('click',function(){
		$('#emptyNotice').hide();
		$('#reportBody tr:last').after($("#addExample").clone().prop('id', '' ));
	});

$('body').on('click','.saveReport',function(){
	row = $(this).parents('tr');
	project=row.find('#project').val();
	projectName=row.find('#project option:selected').text();
	mon=row.find('#mon').val();
	tue=row.find('#tue').val();
	wed=row.find('#wed').val();
	thu=row.find('#thu').val();
	fri=row.find('#fri').val();
	mon=mon==""?0:mon;
	tue=tue==""?0:tue;
	wed=wed==""?0:wed;
	thu=thu==""?0:thu;
	fri=fri==""?0:fri;
	comments=row.find('#comments').val();

	$.post("{{ path("report_add") }}",
		{
			projectId: project,
			weekstart:$('#dateIso').text(),
			mon:mon,
			tue:tue,
			wed:wed,
			thu:thu,
			fri:fri,
			comments:comments
		},
		function(data,status,xhr){
			if(data.success){
				dispRow = $("#dispExample").clone().prop('id','');
				dispRow.data('inputid',data.newId);
				dispRow.find('.projectName').text(projectName);
				dispRow.find('.mon').text(mon);
				dispRow.find('.tue').text(tue);
				dispRow.find('.wed').text(wed);
				dispRow.find('.thu').text(thu);
				dispRow.find('.fri').text(fri);
				dispRow.find('.comments').text(comments);
				$(row).after(dispRow);
				$(row).remove();
			}else{
				message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + data.errormsg + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
				$('#flashMessages').append(message);
			}
		}
	);
	return false;	
});
$('body').on('click','.editReport',function(){
	return false;	
});
$('body').on('click','.delReport',function(){
	url= "{{ path("report_del",{"reportId":"idPlaceHold"}) }}";
	row = $(this).parents('tr');
	url = url.replace("idPlaceHold", row.data('inputid'));
	$.ajax(url,{
		error:function(xhr,status,error){
				message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + error + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
				$('#flashMessages').append(message);
			},
		success:function(data,status,xhr){
			if(data.success){
				row.remove();
			}else{
				message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + data.errormsg + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
				$('#flashMessages').append(message);
			}
		}
	});
	return false;	
});
</script>
{% endblock %}
