{% extends 'base.html.twig' %}

{% block pageTitle %}CRA{% endblock %}

{% block body %}
<div class="d-flex justify-content-between">
	<h1 class="planningHead">Compte rendu d'activité</h1>

	{% set daysClasses=['mon','tue','wed','thu','fri'] %}
	{% set daysNames=['Lundi','Mardi','Mercredi','Jeudi','Vendredi'] %}
	{% set reportStart = startDate %}

	<div class="planningHead">
		<div class="d-flex justify-content-center">
			<a href="{{ path('report_index_shift',{"startDate":reportStart|date_modify('-1 week')|date('Y-m-d')})}}" class="btn btn-outline-secondary mx-1"><i class="fas fa-angle-left"></i> Semaine précédente</a>
			<a href="{{ path('report_index')}}" class="btn btn-outline-secondary"><i class="far fa-calendar"></i> Semaine courante</a>
			<a href="{{ path('report_index_shift',{"startDate":reportStart|date_modify('+1 week')|date('Y-m-d')})}}" class="btn btn-outline-secondary mx-1">Semaine suivante <i class="fas fa-angle-right"></i></a>
		</div>
	</div>
	<div class="planningHead">
	</div>
</div>
<p>Semaine du {{reportStart|date('d/m/Y')}}</p>
<span id="dateIso">{{reportStart|date('Y/m/d')}}</span>
<table id="report" class="table table-sm table-hover">
	<thead>
		<tr>
			<th>Projet</th>
			{% for i in 0..4 %}
			<th class="weekHead {{ daysClasses[i] }}{% if reportStart|date_modify('+'~ i ~ ' days')|date('U') in holidays%} holiday{% endif %}{% if dailySum[i] > 1%} overrun{% endif %}" data-dailysum="{{dailySum[i]}}">{{ daysNames[i] }} {{ reportStart|date_modify('+'~ i ~ ' days')|date('d/m')}}</th>
			{% endfor %}
			<th>Commentaire</th>
			<th></th>
		</tr>
		<tr>
			<th>Planifié</th>
			{% for i in 0..4 %}
			<td class="weekHead {{ daysClasses[i] }}{% if reportStart|date_modify('+'~ i ~ ' days')|date('U') in holidays%} holiday{% endif %}{% if dailySum[i] > 1%} overrun{% endif %}" data-dailysum="{{dailySum[i]}}">
				<ul>
				{% for planning in plannings[daysClasses[i]]["plannings"] %}
					<li>
						{% if planning.project==null %}	Absence	{% else %} {{ planning.project.client }} {{ planning.project.name }} {% endif %}
					{{ plannings[daysClasses[i]]["planned"][planning.id] }}jh
					</li>
					{% endfor %}
				</ul>
			</td>
			{% endfor %}
			<td></td>
	</thead>
	<tbody id="reportBody">
		<tr id="addExample">
			<th class="projectName">
				<select id="project">
					<option value="0">Absence</option>
					{% for project in projects %}
					{% if project.status != 7 %}
					<option value="{{ project.id }}">{{ project.client }} - {{ project.name }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</th>
			{% for i in 0..4 %}
			<td class="{{ daysClasses[i] }} weekDay{% if reportStart|date_modify('+'~ i ~ ' days')|date('U') in holidays%} holiday{% endif %}{% if dailySum[i] > 1%} overrun{% endif %}"><input type="number" min="0" max="1" step="0.25" id="{{ daysClasses[i] }}" /></td>
			{% endfor %}
			<td><input type="text" id="comments"/></td>
			<td>
				<a class="text-success saveReport" href="#"><i class="far fa-save"></i></a>
			</td>
		</tr>
		<tr id="dispExample">
			<th class='projectName'></th>
			{% for i in 0..4 %}
			<td class="{{ daysClasses[i] }} weekDay{% if reportStart|date_modify('+'~ i ~ ' days')|date('U') in holidays%} holiday{% endif %}{% if dailySum[i] > 1%} overrun{% endif %}"></td>
			{% endfor %}
			<td class='comments'></td>
			<td>
				<a class="editReport" href="#"><i class="far fa-edit"></i></a>
				<a class="delReport" href="#"><i class="fas fa-trash-alt"></i></a>
			</td>
		</tr>
		{% if inputs is empty %}
		<tr><td id="emptyNotice" colspan="8">Aucune saisie effectuée pour cette semaine</td></tr>
		{% else %}
		{% for input in inputs %}
		<tr data-inputid='{{ input.id }}'>
			<th class="projectName">
				{% if input.project %}
				{{input.project.client}} {{input.project.name}}
				{% else %}
				Absence
				{% endif %}
			</th>
			{% for i in 0..4 %}
			<td class="{{ daysClasses[i] }} weekDay{% if reportStart|date_modify('+'~ i ~ ' days')|date('U') in holidays%} holiday{% endif %}{% if dailySum[i] > 1%} overrun{% endif %}">{{input.day(i)}}</td>
			{% endfor %}
			<td class='comments'>{{input.comment}}</td>
			<td>
				<a class="editReport" href="#"><i class="far fa-edit"></i></a>
				<a class="delReport" href="#"><i class="fas fa-trash-alt"></i></a>
			</td>
		</tr>
		{% endfor %}
		{% endif %}
	</tbody>
	<tfoot>
		<tr><td class="addInput_btn" colspan="8"><button id="addReport" class="btn btn-xs btn-outline-primary"><i class="fas fa-plus-circle "></i> Ajouter un projet</button></td></tr>
	</tfoot>
</table>
{% endblock %}
{% block extraJs %}
<script>
	$('#addReport').on('click',function(){
		$('#emptyNotice').hide();
		$('#reportBody tr:last').after($("#addExample").clone().prop('id', '' ));
	});

$('body').on('click','.saveReport',function(){
	row = $(this).parents('tr');
	project=row.find('#project').val();
	projectName=row.find('#project option:selected').text();
	mon=row.find('#mon').val();
	tue=row.find('#tue').val();
	wed=row.find('#wed').val();
	thu=row.find('#thu').val();
	fri=row.find('#fri').val();
	mon=mon==""?0:mon;
	tue=tue==""?0:tue;
	wed=wed==""?0:wed;
	thu=thu==""?0:thu;
	fri=fri==""?0:fri;
	comments=row.find('#comments').val();

	$.post("{{ path("report_add") }}",
		{
			projectId: project,
			weekstart:$('#dateIso').text(),
			mon:mon,
			tue:tue,
			wed:wed,
			thu:thu,
			fri:fri,
			comments:comments
		},
		function(data,status,xhr){
			if(data.success){
				dispRow = $("#dispExample").clone().prop('id','');
				dispRow.data('inputid',data.newId);
				dispRow.find('.projectName').text(projectName);
				dispRow.find('.mon').text(parseFloat(mon).toFixed(2));
				dispRow.find('.tue').text(parseFloat(tue).toFixed(2));
				dispRow.find('.wed').text(parseFloat(wed).toFixed(2));
				dispRow.find('.thu').text(parseFloat(thu).toFixed(2));
				dispRow.find('.fri').text(parseFloat(fri).toFixed(2));
				dispRow.find('.comments').text(comments);
				$(row).after(dispRow);
				$(row).remove();
				refreshOverrun();
			}else{
				message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + data.errormsg + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
				$('#flashMessages').append(message);
			}
		}
	);
	return false;	
});
$('body').on('click','.editReport',function(){
	datarow = $(this).parents('tr');
	editrow = $("#addExample").clone().prop('id', '' );

	editrow.find('#project').before(datarow.find('.projectName').text());
	editrow.find('#project').before('<input type="hidden" id="inputid" value="'+datarow.data('inputid')+'" />');
	editrow.find('#project').remove();
	editrow.find('#mon').val(datarow.find('.mon').text());
	editrow.find('#tue').val(datarow.find('.tue').text());
	editrow.find('#wed').val(datarow.find('.wed').text());
	editrow.find('#thu').val(datarow.find('.thu').text());
	editrow.find('#fri').val(datarow.find('.fri').text());
	editrow.find('#comments').val(datarow.find('.comments').text());
	editrow.find('.saveReport').addClass('saveEditReport').removeClass('saveReport');

	datarow.after(editrow);
	datarow.remove();
	return false;	
});
$('body').on('click','.delReport',function(){
	url= "{{ path("report_del",{"reportId":"idPlaceHold"}) }}";
	row = $(this).parents('tr');
	url = url.replace("idPlaceHold", row.data('inputid'));
	$.ajax(url,{
		error:function(xhr,status,error){
				message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + error + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
				$('#flashMessages').append(message);
			},
		success:function(data,status,xhr){
			if(data.success){
				row.remove();
				refreshOverrun();
			}else{
				message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + data.errormsg + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
				$('#flashMessages').append(message);
			}
		}
	});
	return false;	
});

$('body').on('click','.saveEditReport',function(){
	row = $(this).parents('tr');
	inputid = row.find('#inputid').val();
	$.post("{{ path("report_edit") }}",
	{
		inputid:inputid,
		mon:row.find('#mon').val(),
		tue:row.find('#tue').val(),
		wed:row.find('#wed').val(),
		thu:row.find('#thu').val(),
		fri:row.find('#fri').val(),
		comments:row.find('#comments').val(),
	},
	function(data,status,xhr){
		if(data.success){
			dispRow = $("#dispExample").clone().prop('id','');
			dispRow.data('inputid',inputid);
			dispRow.find('.projectName').text(row.find('.projectName').text());
			dispRow.find('.mon').text(parseFloat(row.find('#mon').val()).toFixed(2));
			dispRow.find('.tue').text(parseFloat(row.find('#tue').val()).toFixed(2));
			dispRow.find('.wed').text(parseFloat(row.find('#wed').val()).toFixed(2));
			dispRow.find('.thu').text(parseFloat(row.find('#thu').val()).toFixed(2));
			dispRow.find('.fri').text(parseFloat(row.find('#fri').val()).toFixed(2));
			dispRow.find('.comments').text(row.find('#comments').val());
			$(row).after(dispRow);
			$(row).remove();
			refreshOverrun();
		}else{
			message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + data.errormsg + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
			$('#flashMessages').append(message);
		}
	});

	return false;
});

function refreshOverrun(){
	$('.weekDay').removeClass('overrun');
	$('.weekHead').removeClass('overrun');
	days=['mon','tue','wed','thu','fri'];
	for(i=0;i<5;i++){
		sum = 0.0;
		$('.'+days[i]+'.weekDay').each(function(){
			value = parseFloat($(this).text());
			sum += isNaN(value)?0:value;
		});
		$('.'+days[i]+'.weekHead').data('dailysum',sum);
		if(sum > 1){
			$('.'+days[i]).addClass('overrun');
		}
	}
}
</script>
{% endblock %}
