{% extends 'base.html.twig' %}

{% block pageTitle %}Projets{% endblock %}

{% block body %}
<h1>Projets
	{% if me.isAdmin or me.managedTeams is not empty %}
	<a class="btn btn-outline-primary float-right" data-toggle="collapse" href="#addProject" role="button" aria-expanded="false" aria-controls="addButton">
		Ajouter un projet
	</a>
	{% endif %}
</h1>
{% if me.isAdmin or me.managedTeams is not empty %}
<div class="collapse" id="addProject">
	<div class="card bg-light">
		<h2 class="card-header">Ajouter un projet</h2>
		<div class="card-body">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endif %}
<hr />
{% for team in teams if not team.projectStatuses is empty %}
<div class="card">
	<a class="card-header" data-toggle="collapse" href="#kan{{team.name}}" role="button" aria-expanded="false" aria-controls="showMore">
		Tableau des projets pour l'équipe {{ team.name }}
	</a>
	<div class="card-body collapse show" id="kan{{team.name}}">
		<div class="row kanban">
			<div class="col kanCol" data-status='0'>
				<h3>Non confirmé</h3>
				{% for project in team.projects if project.projectStatus == NULL and not project.archived %}
				{{ kanproject(project,me) }}
				{% endfor %}
			</div>
			{% for status in team.projectStatuses %}
			<div class="col kanCol" data-status='{{status.id}}'>
				<h3>{{status.name}}</h3>
				{% for project in status.projects if not project.archived %}
				{{ kanproject(project,me) }}
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<hr />
{% endfor %}

<div class="card bg-light">
	<a class="card-header" data-toggle="collapse" href="#billable" role="button" aria-expanded="false" aria-controls="showMore">
		Projects facturables en cours
	</a>
	<div class="card-body collapse" id="billable">
		<table class="table table-hover table-sm">
			<thead class="thead-light">
				<tr>
					<th colspan="2">Nom du projet</th>
					<th>Responsable projet</th>
					<th>Jours définis</th>
					<th>Jours planifiés</th>
					<th class="actions">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for team in teams %}
				<tr>
					<td colspan="6" class="teamName">Projets de l'équipe {{ team.name }}</td>
				</tr>
				{% for project in team.projects if not project.archived and project.billable %}
				<tr>
					<td></td>
					<td>
						<a href="{{ path("project_view",{"projectId":project.id}) }}">
							{{ project.name }}
						</a>
					</td>
					<td>{% if project.projectManager %}
						{% if me.canAdmin(project.projectManager) %}
						<a href="{{ path("user_view",{"userId":project.projectManager.id}) }}">
							{{ project.projectManager.fullname }}
						</a>
						{% else %}
						{{ project.projectManager.fullname }}
						{% endif %}
						{% endif %}</td>
					<td>{{ project.nbDays }}</td>
					<td>{{ project.plannedDays }}</td>
					<td class="actions">
						<a href='{{ path('project_view',{"projectId":project.id})}}'><i title='Détails' class='fas fa-search'></i></a>
						{% if me.canAdmin(project) %}
						<a href='{{ path('project_edit',{"projectId":project.id})}}'><i title='Modifier' class='fas fa-edit'></i></a>
						<a href='{{ path('project_archive',{"projectId":project.id})}}'><i title="Archiver" class="fas fa-caret-square-down"></i></a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
				{% endfor %}
				{% if teamlessProjects %}
				<tr>
					<td colspan="6" class="teamName">Projets non assignés à une équipe</td>
				</tr>
				{% endif %}
				{% for project in teamlessProjects if not project.archived and project.billable %}
				<tr>
					<td></td>
					<td>
						<a href="{{ path("project_view",{"projectId":project.id}) }}">
							{{ project.name }}
						</a>
					</td>
					<td>{% if project.projectManager %}
						{% if me.canAdmin(project.projectManager) %}
						<a href="{{ path("user_view",{"userId":project.projectManager.id}) }}">
							{{ project.projectManager.fullname }}
						</a>
						{% else %}
						{{ project.projectManager.fullname }}
						{% endif %}
						{% endif %}</td>
					<td>{{ project.nbDays }}</td>
					<td>{{ project.plannedDays }}</td>
					<td class="actions">
						<a href='{{ path('project_view',{"projectId":project.id})}}'><i title='Détails' class='fas fa-search'></i></a>
						{% if me.canAdmin(project) %}
						<a href='{{ path('project_edit',{"projectId":project.id})}}'><i title='Modifier' class='fas fa-edit'></i></a>
						<a href='{{ path('project_archive',{"projectId":project.id})}}'><i title="Archiver" class="fas fa-caret-square-down"></i></a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<hr />
<div class="card bg-light">
	<a class="card-header" data-toggle="collapse" href="#non-billable" role="button" aria-expanded="false" aria-controls="showMore">
		Projects non-facturables en cours
	</a>
	<div class="card-body collapse" id="non-billable">
		<table class="table table-hover table-sm">
			<thead class="thead-light">
				<tr>
					<th colspan="2">Nom du projet</th>
					<th>Responsable projet</th>
					<th>Jours définis</th>
					<th>Jours planifiés</th>
					<th class="actions">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for team in teams %}
				<tr>
					<td colspan="6" class="teamName">Projets de l'équipe {{ team.name }}</td>
				</tr>
				{% for project in team.projects if not project.archived and not project.billable %}
				<tr>
					<td></td>
					<td>
						<a href="{{ path("project_view",{"projectId":project.id}) }}">
							{{ project.name }}
						</a>
					</td>
					<td>{% if project.projectManager %}
						{% if me.canAdmin(project.projectManager) %}
						<a href="{{ path("user_view",{"userId":project.projectManager.id}) }}">
							{{ project.projectManager.fullname }}
						</a>
						{% else %}
						{{ project.projectManager.fullname }}
						{% endif %}
						{% endif %}</td>
					<td>{{ project.nbDays }}</td>
					<td>{{ project.plannedDays }}</td>
					<td class="actions">
						<a href='{{ path('project_view',{"projectId":project.id})}}'><i title='Détails' class='fas fa-search'></i></a>
						{% if me.canAdmin(project) %}
						<a href='{{ path('project_edit',{"projectId":project.id})}}'><i title='Modifier' class='fas fa-edit'></i></a>
						<a href='{{ path('project_archive',{"projectId":project.id})}}'><i title="Archiver" class="fas fa-caret-square-down"></i></a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
				{% endfor %}
				{% if teamlessProjects %}
				<tr>
					<td colspan="6" class="teamName">Projets non assignés à une équipe</td>
				</tr>
				{% endif %}
				{% for project in teamlessProjects if not project.archived and not project.billable %}
				<tr>
					<td></td>
					<td>
						<a href="{{ path("project_view",{"projectId":project.id}) }}">
							{{ project.name }}
						</a>
					</td>
					<td>{% if project.projectManager %}
						{% if me.canAdmin(project.projectManager) %}
						<a href="{{ path("user_view",{"userId":project.projectManager.id}) }}">
							{{ project.projectManager.fullname }}
						</a>
						{% else %}
						{{ project.projectManager.fullname }}
						{% endif %}
						{% endif %}</td>
					<td>{{ project.nbDays }}</td>
					<td>{{ project.plannedDays }}</td>
					<td class="actions">
						<a href='{{ path('project_view',{"projectId":project.id})}}'><i title='Détails' class='fas fa-search'></i></a>
						{% if me.canAdmin(project) %}
						<a href='{{ path('project_edit',{"projectId":project.id})}}'><i title='Modifier' class='fas fa-edit'></i></a>
						<a href='{{ path('project_archive',{"projectId":project.id})}}'><i title="Archiver" class="fas fa-caret-square-down"></i></a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<hr />
<div class="card bg-light">
	<a class="card-header" data-toggle="collapse" href="#archived" role="button" aria-expanded="false" aria-controls="showMore">
		Projects archivés
	</a>
	</h2>
	<div class="card-body collapse" id="archived">
		<table class="table table-hover table-sm">
			<thead class="thead-light">
				<tr>
					<th colspan="2">Nom du projet</th>
					<th>Responsable projet</th>
					<th>Jours définis</th>
					<th>Jours planifiés</th>
					<th class="actions">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for team in teams %}
				<tr>
					<td colspan="6" class="teamName">Projets de l'équipe {{ team.name }}</td>
				</tr>
				{% for project in team.projects if project.archived %}
				<tr>
					<td></td>
					<td>
						<a href="{{ path("project_view",{"projectId":project.id}) }}">
							{{ project.name }}
						</a>
					</td>
					<td>{% if project.projectManager %}
						{% if me.canAdmin(project.projectManager) %}
						<a href="{{ path("user_view",{"userId":project.projectManager.id}) }}">
							{{ project.projectManager.fullname }}
						</a>
						{% else %}
						{{ project.projectManager.fullname }}
						{% endif %}
						{% endif %}</td>
					<td>{{ project.nbDays }}</td>
					<td>{{ project.plannedDays }}</td>
					<td class="actions">
						<a href='{{ path('project_view',{"projectId":project.id})}}'><i title='Détails' class='fas fa-search'></i></a>
						{% if me.canAdmin(project) %}
						<a href='{{ path('project_edit',{"projectId":project.id})}}'><i title='Modifier' class='fas fa-edit'></i></a>
						<a href='{{ path('project_archive',{"projectId":project.id})}}'><i title="Archiver" class="fas fa-caret-square-up"></i></a>
						<a href='{{ path('project_del',{"projectId":project.id})}}' class="text-danger"><i title="Supprimer" class="fas fa-trash"></i></a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
				{% endfor %}
				{% if teamlessProjects %}
				<tr>
					<td colspan="6" class="teamName">Projets non assignés à une équipe</td>
				</tr>
				{% endif %}
				{% for project in teamlessProjects if project.archived %}
				<tr>
					<td></td>
					<td>
						<a href="{{ path("project_view",{"projectId":project.id}) }}">
							{{ project.name }}
						</a>
					</td>
					<td>{% if project.projectManager %}
						{% if me.canAdmin(project.projectManager) %}
						<a href="{{ path("user_view",{"userId":project.projectManager.id}) }}">
							{{ project.projectManager.fullname }}
						</a>
						{% else %}
						{{ project.projectManager.fullname }}
						{% endif %}
						{% endif %}</td>
					<td>{{ project.nbDays }}</td>
					<td>{{ project.plannedDays }}</td>
					<td class="actions">
						<a href='{{ path('project_view',{"projectId":project.id})}}'><i title='Détails' class='fas fa-search'></i></a>
						{% if me.canAdmin(project) %}
						<a href='{{ path('project_edit',{"projectId":project.id})}}'><i title='Modifier' class='fas fa-edit'></i></a>
						<a href='{{ path('project_archive',{"projectId":project.id})}}'><i title="Archiver" class="fas fa-caret-square-up"></i></a>
						<a href='{{ path('project_del',{"projectId":project.id})}}' class="text-danger"><i title="Supprimer" class="fas fa-trash"></i></a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<p></p>
{% endblock %}

{% block extraJs %}
<script src="/js/projectAdmin.js"></script>
{% endblock %}

{% block helpContent %}
<ul>
	<li>Seuls les projets archivés peuvent être supprimés</li>
	<li>Actions d'administration
		<ul>
			<li><i class='fa fa-chevron-circle-left'></i><i class='fa fa-chevron-circle-right'></i> Déplacer le projet sur le tableau</li>
			<li><i class='fa fa-edit'></i> Modifier le projet</li>
			<li><i class='fa fa-caret-square-down'></i> Archiver le projet</li>
			<li><i class='fa fa-caret-square-up'></i> Désarchiver le projet</li>
			<li><i class='fa fa-trash'></i> Supprimer le projet</li>
		</ul>
	</li>
</ul>
{% endblock %}
