{% extends 'base.html.twig' %}

{% block pageTitle %}Planning{% endblock %}

{% block body %}
<h1>Project index</h1>
<h2>New project</h2>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<h2>Existing projects</h2>
<div class="row">
	<div class="col">
		<h3>Non validé</h3>
		{% for project in projects[0] %}
			{{ kanproject(project) }}
		{% endfor %}
	</div>
	<div class="col">
		<h3>Lancement</h3>
		{% for project in projects[1] %}
			{{ kanproject(project) }}
		{% endfor %}
	</div>
	<div class="col">
		<h3>En cours</h3>
		{% for project in projects[2] %}
			{{ kanproject(project) }}
		{% endfor %}
	</div>
	<div class="col">
		<h3>Rapport</h3>
		{% for project in projects[3] %}
			{{ kanproject(project) }}
		{% endfor %}
	</div>
	<div class="col">
		<h3>Relecture</h3>
		{% for project in projects[4] %}
			{{ kanproject(project) }}
		{% endfor %}
	</div>
	<div class="col">
		<h3>Restitution</h3>
		{% for project in projects[5] %}
			{{ kanproject(project) }}
		{% endfor %}
	</div>
	<div class="col">
		<h3>Facturation</h3>
		{% for project in projects[6] %}
			{{ kanproject(project) }}
		{% endfor %}
	</div>
	<div class="col">
		<h3>Archivé</h3>
		{% for project in projects[7] %}
			{{ kanproject(project) }}
		{% endfor %}
	</div>
</div>
{% endblock %}
