{% extends 'base.html.twig' %}

{% block pageTitle %}Projets{% endblock %}

{% block body %}
<h1>Projets en cours
	{% if app.session.get('user').admin %}
	<a class="btn btn-outline-primary float-right" data-toggle="collapse" href="#addProject" role="button" aria-expanded="false" aria-controls="addButton">
		Ajouter un project
	</a>
	{% endif %}
</h1>
{% if app.session.get('user').admin %}
<div class="collapse" id="addProject">
	<div class="card bg-light">
		<h2 class="card-header">Ajouter un projet</h2>
		<div class="card-body">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endif %}
<hr />
<div class="row" id="kanban">
	<div class="col kanCol" data-status='0'>
		<h3>Non validé</h3>

		{% for project in projects[0] %}
		{{ kanproject(project,app.session.get('user').admin) }}
		{% endfor %}
	</div>
	<div class="col kanCol" data-status='1'>
		<h3>Lancement</h3>

		{% for project in projects[1] %}
		{{ kanproject(project,app.session.get('user').admin) }}
		{% endfor %}
	</div>
	<div class="col kanCol" data-status='2'>
		<h3>En cours</h3>

		{% for project in projects[2] %}
		{{ kanproject(project,app.session.get('user').admin) }}
		{% endfor %}
	</div>
	<div class="col kanCol" data-status='3'>
		<h3>Rapport</h3>

		{% for project in projects[3] %}
		{{ kanproject(project,app.session.get('user').admin) }}
		{% endfor %}
	</div>
	<div class="col kanCol" data-status='4'>
		<h3>Relecture</h3>

		{% for project in projects[4] %}
		{{ kanproject(project,app.session.get('user').admin) }}
		{% endfor %}
	</div>
	<div class="col kanCol" data-status='5'>
		<h3>Restitution</h3>

		{% for project in projects[5] %}
		{{ kanproject(project,app.session.get('user').admin) }}
		{% endfor %}
	</div>
	<div class="col kanCol" data-status='6'>
		<h3>Facturation</h3>

		{% for project in projects[6] %}
		{{ kanproject(project,app.session.get('user').admin) }}
		{% endfor %}
	</div>
</div>
<hr />
<h2>
	Projets non facturables
</h2>
<table class="table table-hover table-sm">
	<thead class="thead-light">
		<tr>
			<th>Nom du projet</th>
			<th>Jours définis</th>
			<th>Jours planifiés</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for project in internalProjects %}
		<tr>
			<td>{{ project.name }}</td>
			<td>{{ project.nbDays }}</td>
			<td>{{ project.plannedDays }}</td>
			<td>
				{% if app.session.get('user').admin %}
				<a href='{{ path('project_edit',{"projectId":project.id})}}'><i title='Modifier' class='fas fa-edit'></i></a>
				<a href='{{ path('project_archive',{"projectId":project.id})}}'><i title="Archiver" class="fas fa-caret-square-down"></i></a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<hr />
<h2>
	<i class="fas fa-archive"></i>
	Projets archivés
</h2>
<table class="table table-hover table-sm">
	<thead class="thead-light">
		<tr>
			<th>Code projet</th>
			<th>Nom du projet</th>
			<th>Client</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for project in projects[7] %}
		<tr>
			<td>{{ project.reference }}</td>
			<td>{{ project.name }}</td>
			<td>{{ project.client }}</td>
			<td>
				{% if app.session.get('user').admin %}
				<a href='{{ path('project_edit',{"projectId":project.id})}}'><i title='Modifier' class='fas fa-edit'></i></a>
				<a href='{{ path('project_archive',{"projectId":project.id})}}'><i title="Désarchiver" class="fas fa-caret-square-up"></i></a>
				<a class="text-danger" href='{{ path('project_del',{"projectId":project.id})}}'><i title="Supprimer" class="fas fa-trash"></i></a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block extraJs %}
{% if app.session.get('user').admin %}
<script>
	$(function(){
		$('.kanProject').draggable({
			containment : '#kanban',
			revert : true,
			revertDuration: 0,
			cursor: "grab",
			start : function(){
				$(this).addClass("border-primary");
				$(this).addClass("kanFloat");
			},
			stop : function(){
				$(this).removeClass("border-primary");
				$(this).removeClass("kanFloat");
			}
		}); // appel du plugin
		$('.kanCol').droppable({
			classes: {
				"ui-droppable-hover":"kanActiveCol",
			},
			drop : function(event, ui){
				url=  "{{ path("project_move",{"projectId":"idPlaceHold","newStatus":"statusPlaceHold"}) }}";
				url = url.replace("idPlaceHold", ui.draggable.data('projectid'));
				url = url.replace("statusPlaceHold", $(this).data('status'));
				destCol = this;
				$.ajax(url,{
					async:false,
					error:function(xhr,status,error){
						message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + error + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
						$('#flashMessages').append(message);
					},
					success:function(data, status, xhr){
						console.log('ajax\n');
						if(data.success){
							ui.draggable.detach().appendTo(destCol);
						}else{
							message='<div class="alert alert-danger alert-dismissible fade show" role="alert">\nErreur : ' + data.errormsg + '\n<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n<span aria-hidden="true">&times;</span>\n</button>\n</div>';
							$('#flashMessages').append(message);
						}
					}
				});
			}
		});
	});
</script>
{% endif %}
{% endblock %}
