{% extends 'base.html.twig' %}

{% block title %}Hello project!{% endblock %}

{% block body %}
<h1>Project index</h1>
<h2>New project</h2>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<h2>Existing projects</h2>
<ul>
	{% for project in projects %}
	<li>{{ project.name }} (SC{{project.reference}})</li>
	{% endfor %}
</ul>
{% endblock %}
